<li>
  <mat-card>
    <mat-card-title>
      {{baby.firstName}} {{baby.lastName}}
    </mat-card-title>
    <mat-card-subtitle>
      <p>Username: {{baby.userName}}</p>
      <p>Avg. rating: {{averageRating | number:'1.0-0'}}</p>
    </mat-card-subtitle>
    <mat-card-actions>
      <button routerLink="/rate/{{baby._id}}" mat-button color="primary">
        Rate ME!
      </button>
      <button routerLink="/user-detail/{{baby._id}}" mat-button>
        Edit
      </button>
      <button (click)="deleteBaby()" mat-button color="warn">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</li>
