
<nav>
  <a mat-button routerLink="home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="contact" routerLinkActive="active">Contact</a>
  <a mat-button routerLink="portal" routerLinkActive="active">Portal</a>
  <a mat-button routerLink="register" routerLinkActive="active">Register</a>
  <a mat-button routerLink="baby-list" routerLinkActive="active">Baby list</a>
  <a mat-button routerLink="login" *ngIf="!this.isLoggedIn" routerLinkActive="active">Login</a>
  <a  *ngIf="this.isLoggedIn">Log out</a>
</nav>

<div *ngIf="isLoggedIn">
  IMMA AUTH BABY§!!
</div>

<div>
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
</div>

<main>
  <router-outlet></router-outlet>
</main>
