<h2>Sitter form:</h2>
<form [formGroup]="registerSitterForm" (submit)="onSubmit(registerSitterForm)" novalidate>
  <label> First name:
    <input formControlName="firstName">
  </label>
  <div class="error-message" *ngIf="registerSitterForm.controls.firstName.errors?.required && registerSitterForm.controls.firstName.touched">You must fill out First name</div>
  <label> Last name:
    <input formControlName="lastName">
  </label>
  <div class="error-message" *ngIf="registerSitterForm.controls.lastName.errors?.required && registerSitterForm.controls.lastName.touched">You must fill out Last name</div>
  <label> Birth date:
    <input formControlName="birthDate">
  </label>
  <div class="error-message" *ngIf="registerSitterForm.controls.birthDate.errors?.required && registerSitterForm.controls.birthDate.touched">You must fill out Birth date</div>
  <label> Gender:
    <input formControlName="gender">
  </label>
  <div class="error-message" *ngIf="registerSitterForm.controls.gender.errors?.required && registerSitterForm.controls.gender.touched">You must fill out Gender</div>
  <label> Rate:
    <input type="number" formControlName="rate">
  </label>
  <div class="error-message" *ngIf="registerSitterForm.controls.rate.errors?.required && registerSitterForm.controls.rate.touched">You must fill out Rate</div>
  <label> Workarea:
    <input formControlName="area">
  </label>
  <div class="error-message" *ngIf="registerSitterForm.controls.area.errors?.required && registerSitterForm.controls.area.touched">You must fill out Workarea</div>

  <input type="submit">
</form>