<h2>Baby form:</h2>
<form [formGroup]="registerBabyForm" (submit)="onSubmit(registerBabyForm)" novalidate>
  <label> First name:
    <input formControlName="firstName">
  </label>
  <div class="error-message" *ngIf="registerBabyForm.controls.firstName.errors?.required && registerBabyForm.controls.firstName.touched">You must fill out First name</div>
  <label> Last name:
    <input formControlName="lastName">
  </label>
  <div class="error-message" *ngIf="registerBabyForm.controls.lastName.errors?.required && registerBabyForm.controls.lastName.touched">You must fill out Last name</div>
  <label> Birth date:
    <input formControlName="birthDate">
  </label>
  <div class="error-message" *ngIf="registerBabyForm.controls.birthDate.errors?.required && registerBabyForm.controls.birthDate.touched">You must fill out Birth date</div>
  <label> Area:
    <input formControlName="area">
  </label>
  <div class="error-message" *ngIf="registerBabyForm.controls.area.errors?.required && registerBabyForm.controls.area.touched">You must fill out Workarea</div>

  <input type="submit">
</form>